.center {
    margin: auto;
    text-align: center;
    margin-top: 10px;
    padding: 20px;
    width: 50%;
}

.h2 {
    margin-right: 50%;
}

.login {
    width: 20%;
    margin-left: 25px;
}

.login_username {
    margin-left: 50%;
}